*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    color: #000;
}
nav{
    flex: 1;
    text-align: right;
    color: #000;
    }
nav ul{
    display: inline-block;
    list-style-type: none;
    color: #000;
    }
nav ul li{
    display: inline-block;
    margin-right: 20px;
    color: #fff;
}
a{
    text-decoration: none;
    color: #000;
    }
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;  
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: #000;
}
.col-2 h2{
    color: #000;
}
.button{
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.button:hover{
    background: #636060;
}
.header{
    background: #fff;
}
.header row{
    margin-top: 70px;

}
.courses{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    padding: 10px;
}
.col-3 img{
width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
h4{
    font-size: 150%;
    text-align: left;
}
.col-4{
    flex-basis: 50%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.logo img{
    width: 150px;
}
.title{
    text-align: center;
    padding-bottom: 1cm;
    font-size: 200%;
    position: relative;
    line-height: 60px;
    color: #000;
}
.title::after{
    content: '';
    background: #D3D3D3;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #ff523B;
}
.col-4:hover{
    transform: translateY(-5px);
}
/*Testimonials Section*/
.review{
    padding-top: 100px;
}
.review .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.review .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.review .col-3:hover{
    transform: translateY(-10px);
}


